<div class="wrapper">
    <mat-card *ngFor="let ticket of tickets; index as i">
        <mat-card-header>
        <mat-card-title>Ticket # {{i+1}}</mat-card-title>
        <div class="data" >
            <mat-card-subtitle><strong>Flight: </strong> {{ticket.flight.id}}</mat-card-subtitle>
            <mat-card-subtitle><strong>Destination: </strong> {{ticket.destination}}</mat-card-subtitle>
            <mat-card-subtitle><strong>Date of Departure:</strong> {{ticket.departureTime}}</mat-card-subtitle>
            <mat-card-subtitle><strong>Origin:</strong> {{ticket.origin}}</mat-card-subtitle>
            <mat-card-subtitle id="price"><strong>Price:</strong> {{ticket.ticketPrice  | currency:'USD':'symbol':'1.2-2' }} </mat-card-subtitle>
          
            <form (submit)="onEnterCode(i)">
                <input id="promo-{{i}}" placeholder="PROMOCODE" [(ngModel)]="promoInputs[i]" 
                name="code" [disabled]="isPromoDisabled(i)">
                <button  mat-stroked-button color="primary" type="submit" [disabled]="isPromoDisabled(i)">ENTER</button>
            </form>

            <button mat-button color="warn" (click)="onReturn(i)">RETURN</button>
        </div>
    </mat-card-header>
    </mat-card>
    <div class="actions" *ngIf="tickets">
        <h2>Total Price: {{ onGetPrice() | currency:'USD':'symbol':'1.2-2' }}</h2>
        <button  mat-raised-button color="primary" (click)="onBook()">BOOK</button>
    </div>    
</div>

