<mat-card>
	<mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="userDetails" (ngSubmit)="onSubmit()">

                <mat-form-field class="example-full-width">
                    <mat-label for="full-name">Full Name:</mat-label>
                    <input matInput placeholder="Enter your full name" formControlName="fullName"
                    id="full-name" type="text" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label for="username">Username:</mat-label>
                    <input matInput placeholder="Enter a username" formControlName="username"
                    id="username" type="text" required >
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label for="email">Email:</mat-label>
                    <input matInput placeholder="Enter a email" formControlName="email"
                    id="email" type="text" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label for="email">Password:</mat-label>
                    <input id="password" type="password"
                    matInput placeholder="Password" formControlName="password" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label for="email">Repeat Password:</mat-label>
                    <input id="password" type="password"
                    matInput placeholder="Password" formControlName="passwordRepeat" required>
                </mat-form-field>

            <div class="button">
                <button type="submit"  mat-button color="primary">Submit</button>
            </div>
        </form>
        <div class="account">
            Already have an account? Log in <span routerLink="/login" style="text-decoration: underline;">here</span>
        </div>
    </mat-card-content>
    <div class="error" *ngIf="errorMessage">
       {{ errorMessage }}
    </div>

</mat-card>